#main-navbar {
	background-color: blue;
	overflow: hidden;
}
#navbar-container {
	text-align: center;
	width: 100%;
	float: left;
	position: relative;
}
#navbar-container ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
}
#navbar-container ul li {
	display: block;
	right: 50%;
	position: relative;
	float: left;
}
#navbar-container ul li a {
	color: #fff;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
#navbar-container ul li a:hover {
	background-color: #000;
}